/* - Mobile: 375px
- Desktop: 1440px

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

- Font size (paragraph): 14px

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700 */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Fraunces', serif;
	font-family: 'Montserrat', sans-serif;
	max-width: 1440px;
	min-width: 375px;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(30, 38%, 92%);
}
.card-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	width: 600px;
	height: 450px;
	border-radius: 15px;
	box-shadow: 0px 0px 2px hsl(228, 12%, 48%);
	background-color: hsl(0, 0%, 100%);
}
.card-left {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	background-image: url('./images/image-product-desktop.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.card-img {
	width: 100%;
	height: 100%;
}
.card-right {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 30px;
	width: 50%;
	height: 100%;
}
.card-header {
	font-size: 14px;
	color: hsl(228, 12%, 48%);
	text-transform: uppercase;
	letter-spacing: 4px;
	font-weight: 500;
	text-shadow: 0px 0px 1px hsl(0, 0%, 90%);
}
.card-title {
	font-size: 30px;
	line-height: 30px;
	font-weight: bold;
	color: hsl(212, 21%, 14%);
	text-shadow: 0px 0px 1px hsl(212, 21%, 14%);
	font-family: 'Fraunces', sans-serif;
}
.card-text {
	font-size: 14px;
	line-height: 24px;
	font-weight: normal;
	color: hsl(228, 12%, 48%);
	text-shadow: 0px 0px 1px hsl(0, 0%, 90%);
	font-family: 'Montserrat', sans-serif;
}
.card-price {
	display: flex;
	align-items: center;
	column-gap: 20px;
}
.card-price-new {
	font-family: 'Fraunces', sans-serif;
	font-size: 28px;
	font-weight: normal;
	color: hsl(158, 36%, 37%);
	text-shadow: 0px 0px 1px hsl(158, 36%, 37%);
}
.card-price-old {
	font-weight: normal;
	font-family: 'Fraunces', sans-serif;
	text-decoration: line-through;
	color: hsl(228, 12%, 48%);
	font-size: 14px;
}
.card-button {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 45px;
	color: hsl(0, 0%, 100%);
	text-shadow: 0px 0px 1px hsl(0, 0%, 100%);
	border: 1px solid hsl(158, 36%, 37%);
	border-radius: 10px;
	background-color: hsl(158, 36%, 37%);
	cursor: pointer;
	transition: all 0.5s ease;
}
.card-button:hover {
	background-color: hsl(212, 21%, 14%);
}

@media (max-width: 376px) {
	.card-wrapper {
		flex-direction: column;
		width: 100%;
		min-height: 667px;
		padding: 0px;
		margin: 20px;
	}
	.card-left {
		background-image: url('./images/image-product-mobile.jpg');
		background-size: cover;
		width: 350px;
		height: 240px;
	}
	.card-img {
		visibility: hidden;
	}
	.card-right {
		padding: 20px;
		width: 100%;
		height: 100%;
	}
}
